#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.game-container {
    padding: 20px;
    border: 1px solid #000;
    width: 600px;
}

.game-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
}

.game-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
}

.game-board {
    position: relative;
    width: 600px;
    height: 400px;
    margin-top: 10px;
    padding: 0;
    border: 2px solid black;
}

.circle {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid brown;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
}

.fade-out {
    opacity: 0;
}
